@model Contas

<tr>
    <td>@Model.Descricao</td>
    <td>@Model.Valor</td>
    <td>@Model.Vencimento.ToString("dd/MM/yyyy")</td>
    <td>@Model.Situacao</td>
    <td class="col col-sm-2">        
        <a id="Details" asp-controller="Home" asp-action="Details" asp-route-idconta="@Model.Id">Detalhes</a>
        <a id="delete" asp-controller="Home" asp-action="Delete" asp-route-id="@Model.Id">Excluir</a>
    </td>
</tr>
